<div class="container">
  <div class="menu-container">
    <ng-container *ngFor="let content of contents">
      <div
        [ngClass]="{
        header: isSmartPhone,
        'header-desktop': !isSmartPhone,
        'clicked-header': content.isClicked
      }"
        (click)="onClick(content)"
      >
        {{content.name}} <i class="fa fa-chevron-right"></i>
      </div>
      <app-card
        *ngIf="isSmartPhone&&content.isClicked"
        [content]="content"
        class="content"
      ></app-card>
    </ng-container>
  </div>
  <div *ngIf="!isSmartPhone&&currentMenu&&currentMenu.isClicked">
    <app-card
      [content]="currentMenu"
      class="content"
    ></app-card>
  </div>
</div>

