<!--<div class="container">-->
<!--First Menu & contents-->
<!--
  <div class="header" (click)="onClick(content.firstMenu.title)">
    First Menu <i class="fa fa-chevron-right"></i>
  </div>
  <app-card *ngIf="content.firstMenu.isClicked" class="card"></app-card>
  <div *ngIf="content.firstMenu.isClicked">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ content.firstMenu.title }}</h5>
        <p class="card-text">
          {{ content.firstMenu.body }}
        </p>
      </div>
    </div>
  </div>
-->
<!--Second Menu & contents-->
<!--
  <div class="header" (click)="onClick(content.secondMenu.title)">
    Second Menu <i class="fa fa-chevron-right"></i>
  </div>
  <div *ngIf="content.secondMenu.isClicked">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ content.secondMenu.title }}</h5>
        <p class="card-text">
          {{ content.secondMenu.body }}
        </p>
      </div>
    </div>
  </div>
-->
<!--Third Menu & contents-->
<!--
  <div class="header" (click)="onClick(content.thirdMenu.title)">
    Third Menu <i class="fa fa-chevron-right"></i>
  </div>
  <div *ngIf="content.thirdMenu.isClicked">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ content.thirdMenu.title }}</h5>
        <p class="card-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing
          {{ content.thirdMenu.body }}
        </p>
      </div>
    </div>
  </div>
</div>
-->

<div class="container">
  <div class="menu-container">
    <!--First Menu & contents-->
    <div
      [ngClass]="{
        header: isSmartPhone,
        'header-desktop': !isSmartPhone,
        'clicked-header': content.firstMenu.isClicked
      }"
      (click)="onClick(content.firstMenu.title)"
    >
      First Menu <i class="fa fa-chevron-right"></i>
    </div>
    <app-card
      *ngIf="content.firstMenu.isClicked && isSmartPhone"
      [content]="content.firstMenu"
      class="content"
    ></app-card>
    <!--Second Menu & contents-->
    <div
      [ngClass]="{
        header: isSmartPhone,
        'header-desktop': !isSmartPhone,
        'clicked-header': content.secondMenu.isClicked
      }"
      (click)="onClick(content.secondMenu.title)"
    >
      Second Menu <i class="fa fa-chevron-right"></i>
    </div>
    <app-card
      *ngIf="content.secondMenu.isClicked && isSmartPhone"
      [content]="content.secondMenu"
      class="content"
    ></app-card>
    <!--Third Menu & contents-->
    <div
      [ngClass]="{
        header: isSmartPhone,
        'header-desktop': !isSmartPhone,
        'clicked-header': content.thirdMenu.isClicked
      }"
      (click)="onClick(content.thirdMenu.title)"
    >
      Third Menu <i class="fa fa-chevron-right"></i>
    </div>
    <app-card
      *ngIf="content.thirdMenu.isClicked && isSmartPhone"
      [content]="content.thirdMenu"
      class="content"
    ></app-card>
  </div>
  <!--For Desktop Version-->
  <app-card
    *ngIf="content.firstMenu.isClicked && !isSmartPhone"
    [content]="content.firstMenu"
    class="content"
  ></app-card>
  <app-card
    *ngIf="content.secondMenu.isClicked && !isSmartPhone"
    [content]="content.secondMenu"
    class="content"
  ></app-card>
  <app-card
    *ngIf="content.thirdMenu.isClicked && !isSmartPhone"
    [content]="content.thirdMenu"
    class="content"
  ></app-card>
</div>
